/* LOGO AND NAV BAR*/
header{
display: flex;
justify-content: space-between;
font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 padding-bottom: 2px;
 border-bottom: 1px black solid;
 z-index: 5;
background-color: white;
width: -webkit-fill-available;
padding-right: 15px;
position: fixed;
top: -1px;
}
.logo{
color: MediumAquamarine;
display: inline-flex;
padding-left: 30px;
}
nav span{
display: inline-block;;
padding: 20px 10px;
}
a{
  color: black;
}
  /* BIG CONTAINER*/

.container{
display: inline-flex;
justify-content: space-between;
width: 95%;
padding: 100px 0 0 0;
margin: 10px 10px;
position: relative;
}
/* LEFT COLUMN*/
.left-column{
  display: flex;
  flex-direction: column;
width: 630px;
padding: 5px 15px 5px 15px;
}

.main-story-header{
display: flex;
background-image: url("../images/main-story-img.png");
background-repeat: no-repeat;
}
#main-story-header{
  font-size: 40px;
}
.fall{
  background-image: url("../images/fall.png");
  display: flex;
  background-repeat: no-repeat;
  height: 300px;
}
.cameraman{
  display: flex;
  height: 300px;
  background-image: url("../images/hipster-camera-man.png");
  background-repeat: no-repeat;
}
.left-col-lower{
  display: inline-flex;
}
.left-col-lower-one{
padding: 5px 15px 5px 15px;
}
.left-col-lower-two{
padding: 5px 15px 5px 15px;
}
/*MIDDLE COLUMN */
.mid-column{
  flex-direction: column;
display: flex;
width: 300px;
padding: 5px 15px 5px 15px;
}
.cat{
  display: flex;
  height: 300px;
  background-image: url("../images/cat-boss.png");
  background-repeat: no-repeat;
}


/* RIGHT COLUMN*/
.right-column{
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 5px 15px 5px 15px;
}
.bites-title{
  font-size: 16px;
}
.bites span{
  display: block;
  background-color: WhiteSmoke;
font-family: Verdana;
font-size: 12px;
color: DimGray;
border-bottom: 1px black solid;
padding: 7px 0 7px 0 ;

}

.story-text{
  font-family: Georgia;
    font-size: 17px;
    color: black;
}
{
  font-size: 40px;
}
.image-text{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
/*FOOTER */
.footer{
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
width: 100%;
height: 325px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.footer-logo{
  display: inline-flex;
  align-items: baseline;
}
.footer-logo h3{
  font-family: Georgia;
   font-size: 16px;
   font-weight: bold;
   color: white;
}
.footer-logo nav{

}
.copyright{
font-size: 10px;
font-family: Verdana;
}
